body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1475 {
  position:absolute;
  left:421px;
  top:167px;
  width:300px;
  height:170px;
}
#u1476 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:828px;
}
#u1478 {
  position:absolute;
  left:400px;
  top:101px;
  width:422px;
  height:828px;
}
#u1479 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1480 {
  position:absolute;
  left:421px;
  top:167px;
  width:375px;
  height:667px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1482 {
  position:absolute;
  left:421px;
  top:167px;
  width:375px;
  height:667px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1484 {
  position:absolute;
  left:553px;
  top:44px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1485 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1486 {
  position:absolute;
  left:421px;
  top:167px;
  width:375px;
  height:667px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1488 {
  position:absolute;
  left:522px;
  top:190px;
  width:183px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1489 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u1490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u1490 {
  position:absolute;
  left:429px;
  top:498px;
  width:367px;
  height:1px;
}
#u1491 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1492 {
  position:absolute;
  left:421px;
  top:231px;
  width:375px;
  height:603px;
}
#u1493 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u1494 {
  position:absolute;
  left:421px;
  top:231px;
  width:371px;
  height:1px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1496 {
  position:absolute;
  left:421px;
  top:794px;
  width:375px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1497 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1499 {
  position:absolute;
  left:421px;
  top:161px;
  width:375px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1500 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u1501 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u1502 {
  position:absolute;
  left:426px;
  top:161px;
  width:367px;
  height:16px;
}
#u1503 {
  position:absolute;
  left:2px;
  top:0px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u1504 {
  position:absolute;
  left:429px;
  top:193px;
  width:14px;
  height:24px;
}
#u1505 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1506 {
  position:absolute;
  left:421px;
  top:241px;
  width:372px;
  height:209px;
}
#u1507 {
  position:absolute;
  left:2px;
  top:96px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u1509 {
  position:absolute;
  left:441px;
  top:249px;
  width:45px;
  height:46px;
}
#u1510 {
  position:absolute;
  left:2px;
  top:15px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1511 {
  position:absolute;
  left:496px;
  top:249px;
  width:99px;
  height:20px;
}
#u1512 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1513 {
  position:absolute;
  left:496px;
  top:276px;
  width:81px;
  height:16px;
  color:#666666;
}
#u1514 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u1515 {
  position:absolute;
  left:441px;
  top:305px;
  width:355px;
  height:1px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u1518 {
  position:absolute;
  left:441px;
  top:316px;
  width:45px;
  height:46px;
}
#u1519 {
  position:absolute;
  left:2px;
  top:15px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1520 {
  position:absolute;
  left:496px;
  top:316px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1522 {
  position:absolute;
  left:496px;
  top:343px;
  width:81px;
  height:16px;
  color:#666666;
}
#u1523 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u1524 {
  position:absolute;
  left:441px;
  top:372px;
  width:355px;
  height:1px;
}
#u1525 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u1527 {
  position:absolute;
  left:441px;
  top:383px;
  width:45px;
  height:46px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:15px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1529 {
  position:absolute;
  left:496px;
  top:383px;
  width:93px;
  height:20px;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1531 {
  position:absolute;
  left:496px;
  top:410px;
  width:97px;
  height:16px;
  color:#666666;
}
#u1532 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0099FF;
}
#u1533 {
  position:absolute;
  left:739px;
  top:260px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0099FF;
}
#u1534 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0099FF;
}
#u1535 {
  position:absolute;
  left:739px;
  top:327px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0099FF;
}
#u1536 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0099FF;
}
#u1537 {
  position:absolute;
  left:739px;
  top:394px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0099FF;
}
#u1538 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
