body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:421px;
  top:169px;
  width:300px;
  height:170px;
}
#u865 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:828px;
}
#u867 {
  position:absolute;
  left:400px;
  top:103px;
  width:422px;
  height:828px;
}
#u868 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  position:absolute;
  left:421px;
  top:169px;
  width:375px;
  height:667px;
}
#u870 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:421px;
  top:169px;
  width:375px;
  height:667px;
}
#u872 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u873 {
  position:absolute;
  left:581px;
  top:50px;
  width:49px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:178px;
}
#u877 {
  position:absolute;
  left:421px;
  top:161px;
  width:375px;
  height:178px;
}
#u878 {
  position:absolute;
  left:2px;
  top:81px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u879 {
  position:absolute;
  left:426px;
  top:165px;
  width:367px;
  height:16px;
}
#u880 {
  position:absolute;
  left:2px;
  top:0px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:573px;
  top:229px;
  width:15px;
  height:16px;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:70px;
}
#u884 {
  position:absolute;
  left:434px;
  top:248px;
  width:71px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u885 {
  position:absolute;
  left:2px;
  top:26px;
  width:67px;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u886 {
  position:absolute;
  left:517px;
  top:257px;
  width:111px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  position:absolute;
  left:421px;
  top:349px;
  width:375px;
  height:58px;
}
#u890 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u891 {
  position:absolute;
  left:434px;
  top:360px;
  width:32px;
  height:31px;
}
#u892 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:484px;
  top:366px;
  width:57px;
  height:20px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u895 {
  position:absolute;
  left:773px;
  top:366px;
  width:8px;
  height:20px;
}
#u896 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:688px;
  top:366px;
  width:75px;
  height:20px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:421px;
  top:523px;
  width:375px;
  height:59px;
}
#u901 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u902 {
  position:absolute;
  left:434px;
  top:537px;
  width:32px;
  height:31px;
}
#u903 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u904 {
  position:absolute;
  left:484px;
  top:543px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u906 {
  position:absolute;
  left:773px;
  top:543px;
  width:8px;
  height:20px;
}
#u907 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u909 {
  position:absolute;
  left:421px;
  top:161px;
  width:375px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u910 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  word-wrap:break-word;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u912 {
  position:absolute;
  left:426px;
  top:161px;
  width:367px;
  height:16px;
}
#u913 {
  position:absolute;
  left:2px;
  top:0px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u914 {
  position:absolute;
  left:421px;
  top:406px;
  width:375px;
  height:1px;
}
#u915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u916 {
  position:absolute;
  left:580px;
  top:743px;
  width:57px;
  height:20px;
  color:#0099FF;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u918 {
  position:absolute;
  left:688px;
  top:276px;
  width:99px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u919 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u921 {
  position:absolute;
  left:421px;
  top:774px;
}
#u921_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
  background-image:none;
}
#u921_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
}
#u924 {
  position:absolute;
  left:2px;
  top:23px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:62px;
}
#u925 {
  position:absolute;
  left:147px;
  top:0px;
  width:76px;
  height:62px;
}
#u926 {
  position:absolute;
  left:2px;
  top:23px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u928 {
  position:absolute;
  left:44px;
  top:4px;
  width:34px;
  height:34px;
  font-size:12px;
}
#u929 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u930 {
  position:absolute;
  left:48px;
  top:41px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u933 {
  position:absolute;
  left:168px;
  top:4px;
  width:34px;
  height:34px;
  font-size:12px;
}
#u934 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u935 {
  position:absolute;
  left:173px;
  top:41px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u938 {
  position:absolute;
  left:284px;
  top:4px;
  width:34px;
  height:34px;
  font-size:12px;
}
#u939 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u940 {
  position:absolute;
  left:289px;
  top:41px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u921_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
  visibility:hidden;
  background-image:none;
}
#u921_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
}
#u944 {
  position:absolute;
  left:2px;
  top:23px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:62px;
}
#u945 {
  position:absolute;
  left:263px;
  top:0px;
  width:76px;
  height:62px;
}
#u946 {
  position:absolute;
  left:2px;
  top:23px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u948 {
  position:absolute;
  left:44px;
  top:4px;
  width:34px;
  height:34px;
  font-size:12px;
}
#u949 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:48px;
  top:41px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u953 {
  position:absolute;
  left:168px;
  top:4px;
  width:34px;
  height:34px;
  font-size:12px;
}
#u954 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u955 {
  position:absolute;
  left:173px;
  top:41px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u958 {
  position:absolute;
  left:284px;
  top:4px;
  width:34px;
  height:34px;
  font-size:12px;
}
#u959 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u960 {
  position:absolute;
  left:289px;
  top:41px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
}
#u963 {
  position:absolute;
  left:421px;
  top:774px;
  width:375px;
  height:62px;
}
#u964 {
  position:absolute;
  left:2px;
  top:23px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:62px;
}
#u965 {
  position:absolute;
  left:676px;
  top:774px;
  width:76px;
  height:62px;
}
#u966 {
  position:absolute;
  left:2px;
  top:23px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u968 {
  position:absolute;
  left:470px;
  top:778px;
  width:34px;
  height:34px;
  font-size:12px;
}
#u969 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:474px;
  top:815px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u973 {
  position:absolute;
  left:697px;
  top:778px;
  width:34px;
  height:34px;
  font-size:12px;
}
#u974 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u975 {
  position:absolute;
  left:702px;
  top:815px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u978 {
  position:absolute;
  left:592px;
  top:778px;
  width:34px;
  height:34px;
  font-size:12px;
}
#u979 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:596px;
  top:815px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983 {
  position:absolute;
  left:421px;
  top:465px;
  width:375px;
  height:58px;
}
#u984 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u985 {
  position:absolute;
  left:434px;
  top:476px;
  width:32px;
  height:31px;
}
#u986 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u987 {
  position:absolute;
  left:484px;
  top:482px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u989 {
  position:absolute;
  left:773px;
  top:482px;
  width:8px;
  height:20px;
}
#u990 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u991 {
  position:absolute;
  left:421px;
  top:523px;
  width:375px;
  height:1px;
}
#u992 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u993 {
  position:absolute;
  left:421px;
  top:465px;
  width:375px;
  height:1px;
}
#u994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:421px;
  top:407px;
  width:375px;
  height:58px;
}
#u997 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u998 {
  position:absolute;
  left:434px;
  top:418px;
  width:32px;
  height:31px;
}
#u999 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1000 {
  position:absolute;
  left:484px;
  top:424px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
}
#u1002 {
  position:absolute;
  left:773px;
  top:424px;
  width:8px;
  height:20px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
